html
{
	 height:100%;
}
body
{
	min-height: 100%;
    margin: 0;
    padding: 0;
}
a:visited
{
	color:black;	
}
#mapid 
{ 
	height:100vh; 
	width:100%;
}
#container #location
{
	left:0px; 
	top:0px;
	padding-left:20px;
	background:url('../img/location.gif') top left no-repeat;
}
nav
{
	position:fixed;
	right:0px;
	top:0px;
	border : solid black 1px;
	max-width:300px;
	z-index:1200;
	background-color:#d2b36f;
	padding :0px 3px 3px 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size:0.8em;
}
section
{
	max-width:50%;
	margin:0px;
	background-color:lightgrey;
	position:relative;
	padding:5px;
	margin-top:5px;
}
nav ul
{
	list-style-type:none;
	margin-left: 0px;
	padding-left: 0px;
}
nav ul:first-of-type
{
	list-style-type:none;
	display :flex;
	justify-content: center;
	margin:0px;
	padding:0px;
}
nav ul:first-of-type a
{
	display: inline-block;
	background-color:#71301C;
	color:grey;
	padding:8px 3px 0px 3px;
	margin:0px;
	margin-right:3px;
	height:24px;
	border:2px grey outset;
}
nav ul:first-of-type a:hover
{
	border:2px grey inset;	
	color:white;
}

nav input[type=number]
{
	min-width: 40px;
}

nav ul img
{
	height:20px;
	width:20px;
	vertical-align:middle;
}
.leaflet-container {
    background-color:#536e65;
    /*background-color:#4f7fcf;*/
}
table{
	border-collapse:collapse;
	margin:auto;
}
form
{
	margin:auto;	
}
tr td:nth-child(5)
{
	min-width:150px;
}
tr td:nth-child(3)
{
	text-align:center;
}
td
{
	border:1px solid black;
	padding:2px;
}
.privacy_0
{
	background-color:lime;
}
.privacy_1
{
	background-color:red;
}
.toggleableMenu span
{
	position:absolute;
	top:0px;
	right:0px;
	background-image:url('../img/ic_expand_less_black_18dp.png') right top no-repeat;
	background-color:#c2a30f;
	display:inline-block;	
	height:36px;
	width:36px;
}
.leaflet-top.leaflet-right
{
	margin-right:280px;
	margin-top:0px;
}
.popUp span
{
	position:absolute;
	top:0px;
	right:0px;
	background-image:url("../img/ic_cancel_black_18dp.png");	
	display:inline-block;
	height:36px;
	width:36px;
}
.popUp
{
	display:none;
	margin:20px;
	border:1px red solid;
}
h1
{
	margin:auto;
	width:50%;
	text-align:center;
}
.colorPick
{
	display:inline-block;
	height:15px;
	width:15px;
	border : white 1px solid;
}
.backofficeTools
{
	display: flex;
	margin:50px 200px 0px 3%;
	justify-content:center;
}
.backofficeTools section
{
	margin:10px;
}
.backofficeList
{
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.flags
{
	width:32px;
	height:auto;
}